<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adicionar</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="main.js"></script>
</head>



<body>
    
    <center >
        
        <form action="">
            <p>Tipo De Evento: <input type="text"></p>
            <p>Data:  <input type="date"></p>
            <p>Horário Inicio: <input type="time"> </p>
            <p>Horário Términio: <input type="time"></p>
            <p>Número De Convidados: <input type="text"></p>

            <p>Serviços De DJ: 
                <input type="checkbox">Som
                <input type="checkbox">Iluminação
                <input type="checkbox">Cerimonia
                <input type="checkbox">Telão
            </p>

            <p>Serviços De Buffet: 
                <input type="checkbox">Quality
                <input type="checkbox">Prata

            </p>

            <p>Serviços De Decoração: 
                <input type="checkbox">Arranjos Mesa
                <input type="checkbox">Decoração Cerimonia
            </p>



        </form>

    </center>
</body>
</html>