<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agenda - Protótipo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background-color: #52c462;">
    <center style="color: white;">
        <h1>Vale Verde Eventos</h1>
        <h4>Protóripo de agenda V1.0</h4>                     
        <hr>
        <br>

        <button class="btn btn-info" data-toggle="modal" data-target="#modalNovoEvento">Novo Evento</button>

        <br>

        <h4>Próximos 10 Eventos:</h4>

        <table border="1" style="width:80%;">
            <thead>
                <th class="text-center">Evento</th>
                <th class="text-center">Data de Início</th>
                <th class="text-center">Data Final</th>
            </thead>
            <tbody>
                {% for item in eventos %}      
                    <tr>
                        <td align="center">{{ item.summary }}</td>
                        <td align="center">{{ item.start.dateTime }}</td>
                        <td align="center">{{ item.end.dateTime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

    <div class="modal fade" id="modalNovoEvento" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="Titulo">Titulo</label>
                        <input type="text" class="form-control" id="Titulo" placeholder="Titulo do evento">
                    </div>
                    <div class="col-sm-6">
                        <label for="Local">Local</label>
                        <input type="text" class="form-control" id="Local" placeholder="Local do evento">
                    </div>                                       
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="Descricao">Descrição</label>
                        <input type="text" class="form-control" id="Descricao" placeholder="Descrição do evento">
                    </div>                                    
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="Titulo">Data de Inicio</label>
                        <input type="text" class="form-control" id="Titulo" placeholder="Data de Inicio do evento">
                    </div>
                    <div class="col-sm-6">
                        <label for="Local">Data Fim</label>
                        <input type="text" class="form-control" id="Local" placeholder="Data do final  do evento">
                    </div>                                       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Criar</button>
            </div>
            </div>
        </div>
    </div>
    
</body>
</html>